{% extends "base.html" %}
{% block content %}
<h1>Entities with Relationship: {{ relationship_type.name }}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {% for e in entities %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.name }}</td>
            <td>{{ e.email }}</td>
            <td>{{ e.phone }}</td>
            <td>{{ e.address }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

